body{
	margin:1%;
	padding: 1%;
}
.right{
	float:right;
	border: 2px solid blue;
}

#top{
	background-color: #7f7f7f;
	padding: 1%;
	/*You may need to change the display if white space starts 
	to appear between the top and middle sections.*/
}

#middle{
	background-color: #008000;
	padding:1%;
	/*You need something here to keep the picture of floating 
	to the right of the middle.*/
}

#footer{
	background-color: #ff6666;
	padding:1%
}

/*You need to style the ordered list selector*/